body {
    font-family: sans-serif;
    background-color: beige;
    margin: 0;
    padding-top: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px beige;
    background-color: #33333359;
    color: #691d1d;
    padding: 15px;
   margin: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    
}

section {
    background-color: rgba(13, 98, 226, 0.082);
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-top: 4px solid rgb(193, 188, 214);
    flex: 3;
}

img {
    width: 200px;
    height: 200px ;
    display: inline;
    margin: 20px auto;
}
.hero img {
    width: 100%;
    height: auto;
}


form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: aliceblue;
    width: 200px;
    margin: auto;
}

button {
    background-color: beige;
    color: black;
    width: 100%;
    padding: 5px;
    margin: auto;
    border-radius: 10px; 
    display: inline;
    text-align: center;
}
main{ 
    display: flex;
    gap: 20px;
}
aside {
    flex: 1;
}

footer {
   text-align: center;
   padding: 20px;
   background-color: #333;
   color: white;
   position: static;
}